<?xml version="1.0" encoding="UTF-8"?>
<Configuration
    xmlns="http://logging.apache.org/log4j/2.0/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config https://raw.githubusercontent.com/apache/logging-log4j2/log4j-2.11.1/log4j-core/src/main/resources/Log4j-config.xsd">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date %level %logger{1} - %message%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.cruk" level="ERROR"/>

        <Logger name="org.cruk.clarity.api" level="ERROR"/>

        <Logger name="org.cruk.clarity.api.ClarityAPI" level="ERROR"/>

        <Logger name="org.cruk.clarity.api.debugging.HttpClientTimingAspect" level="OFF"/>

        <Logger name="org.cruk.clarity.api.debugging.RestClientSnoopingAspect" level="OFF"/>

        <Logger name="org.cruk.clarity.api.cache.ClarityAPICache" level="WARN"/>

        <Logger name="org.cruk.clarity.api.cache.ClarityAPICacheTest" level="OFF"/>

        <Logger name="org.springframework.web.client.RestTemplate" level="OFF"/>

        <Root level="ERROR">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
